<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<!-- Primary connection for DevExpress Reports -->
		<add name="QLNhaHangOnline"
			 connectionString="Server=vanthuan-sql.hopto.org,1433;Database=QL_NhaHangTiecCuoi_V3;User Id=thuan;Password=Thuan123!;Encrypt=False;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
		<!-- Alternative connection for code that uses Microsoft.Data.SqlClient -->
		<add name="QLNhaHangOnlineAlt"
			 connectionString="Server=vanthuan-sql.hopto.org,1433;Database=QL_NhaHangTiecCuoi_V3;User Id=thuan;Password=Thuan123!;Encrypt=False;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="AppName" value="Hệ thống Quản lý Nhà hàng Tiệc cưới" />
		<add key="AppVersion" value="1.0.0" />
	</appSettings>

	<userSettings>
		<UI.Properties.Settings>
			<setting name="TaiKhoan" serializeAs="String">
				<value />
			</setting>
			<setting name="MatKhau" serializeAs="String">
				<value />
			</setting>
			<setting name="LuuThongTin" serializeAs="String">
				<value>False</value>
			</setting>
		</UI.Properties.Settings>
	</userSettings>
</configuration>