<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=LAPTOP-R1ZAX\SQLEXPRESS;Database=QL_NhaHangTiecCuoi_V3;Integrated Security=true;TrustServerCertificate=true;" />
	</connectionStrings>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="AppName" value="Hệ thống Quản lý Nhà hàng Tiệc cưới" />
		<add key="AppVersion" value="1.0.0" />
	</appSettings>

	<userSettings>
		<UI.Properties.Settings>
			<setting name="TaiKhoan" serializeAs="String">
				<value />
			</setting>
			<setting name="MatKhau" serializeAs="String">
				<value />
			</setting>
			<setting name="LuuThongTin" serializeAs="String">
				<value>False</value>
			</setting>
		</UI.Properties.Settings>
	</userSettings>
</configuration>